node_modules
build
app

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
