h3 Læsernes top {{limit}} lige nu
ol.top-3-list
  li(ng-repeat="song in songs | orderBy:'score':true | limitTo:limit")
    | {{song.artist}} - "{{song.title}}"
    div.votebar
      div.positive-votes(style="width:{{song.score}}%;")
      strong {{song.score}}% giver tommlen op
