@import "normalize";
@import "skeleton";

$white: #ffffff;
$darkgrey: #666666;
$green: #5cb85c;
$red: #d9534f;

body {
  background: #000;
  color: #fff;
}

.header {
  position: relative;
  border-bottom: 3px solid $white;
  height: 55px;
}

a {
  cursor: pointer;
  color: darken($white, 10%);

  &:hover {
    color: darken($white, 20%);
  }
}

img {
  vertical-align: bottom;
}

.berlingske-logo {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  text-indent: -9999px;
  width: 141px;
  height: 35px;
  background: url(/img/logo_b_300px.svg) left bottom no-repeat #14143c;
}

.contest.logo {
  position: absolute;
  top: 0;
  left: 160px;
  display: block;

  img {
    height: 55px;
  }
}

.facebook-share {
  position: absolute;
  top: 12.5px;
  right: 4px;
  padding: 3px 8px;
  border-radius: 3px;
  font-weight: 600;
  background-color: rgb(76, 102, 164);

  a {
    color: $white;
    text-decoration: none;
  }
}

.main-container {
  width: 100vw;
}

.voter {
  height: calc(100vh - 55px);
  padding: 20px 50px;
}

.artist-image {
  margin-bottom: 20px;
  border: 2px solid $white;
}

.song-chart {
  margin-top: 10px;

  svg {
    float: left;
    width: 200px;
    height: 100px;
  }

  h3 {
  }
}

.vote-btn {
  float: left;
  color: $white;
  width: 50%;
  border-radius: 0;
  &:hover, &:focus {
    color: $white;
  }

}

.vote-btn.like {
  background: $green;
  border-color: darken($green, 10%);
  &.faded {
    background: darken($green, 20%);
  }
  &:hover, &.voted {
    background: lighten($green, 10%);
  }
}

.vote-btn.dislike {
  background: $red;
  border-color: darken($red, 10%);

  &.faded {
    background: darken($red, 20%);
  }

  &:hover, &.voted {
    background: lighten($red, 10%);
  }
}

.vote-btn.inactive {
  background: $darkgrey;
  border-color: darken($darkgrey, 10%);

  &:hover {
    background: $darkgrey;
    border-color: darken($darkgrey, 10%);
  }
}

.slice {
  &.like {
    fill: $green;
  }
  &.dislike {
    fill: $red;
  }
  &.empty {
    fill: $darkgrey;
  }
}

.review {
  position: absolute;
  background: $darkgrey;
  padding: 10px;
  width: 300px;
  max-width: calc(100vw - 80px);
  z-index: 10;
}

.nav.up {
  border-bottom: 2px solid $darkgrey;
  margin-bottom: 25px;
}

.nav.down {
  border-top: 2px solid $darkgrey;
}

.votebar {
  position: relative;
  float: right;
  width: 230px;
  height: 20px;
  background: $red;

  strong {
    position: absolute;
    top: -2px;
    left: 5px;
    color: #000;
  }
}

.positive-votes {
  height: 20px;
  background: $green;
}

.result-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid $white;
  text-align: center;
  padding-top: 20px;

  toplist-view {
    display: inline-block;
    text-align: left;
    background: #000;
    padding: 10px;
  }
}

.nav-view {
  display: block;
}

.scribblelive {
  height: calc(100vh - 55px);
  border-left: 2px solid $white;
  padding: 20px 0 20px 50px;
  margin-left: 0;
  overflow: hidden;
}

i.fa::before {
  vertical-align: middle;
}

.nav {
  text-align: center;
}

.artistview {
  padding-bottom: 1em;
  h5, h3 {
    margin-bottom: .2em;
  }
}

.song-chart h5 {
  font-size: 2rem;
}

@media (max-width: 950px){
  .song-chart {
    svg {
      float: none;
    }
    .columns {
      text-align: center;
      float: none;
      width: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: 605px){
  .voter {
    height: auto
  }
  .scribblelive {
    min-height: 600px;
    padding: 2em;
  }

}
@media (max-width: 550px){
  .contest.logo {
    display: none;
  }
  .votebar {
    float: none;
    width: 100%;
  }
}
@media (max-width: 400px){
  .voter {
    padding: 2em;
  }
}
