nav.nav.up
  img(src="/img/arrow_up.png" ng-click="navigate('up')").arrow-up
div.row.artistview
  div.five.columns
    img.artist-image(ng-src="{{songs[activeSong].image}}").u-max-full-width
    div.row
      div.12.columns
        button(ng-click="vote('like')" ng-class="{'inactive': songs[activeSong].active==0}").vote-btn.like
          i.fa.fa-thumbs-o-up.fa-2x
        button(ng-click="vote('dislike')" ng-class="{'inactive': songs[activeSong].active==0}").vote-btn.dislike
          i.fa.fa-thumbs-o-down.fa-2x
  div.seven.columns
    h3 {{songs[activeSong].artist}}
    h5 {{songs[activeSong].title}}
    a(ng-click="toggleReview()") Læs Berlingskes anmelddelse &nbsp;
      i.fa.fa-play(ng-class="{'fa-rotate-90': showReview}")
    div.review(ng-show="showReview") {{songs[activeSong].berlingske_review}}
    div.row.song-chart
      div.eight.columns
        svg
      div.four.columns
        h5 {{songs[activeSong].score}}% giver tommlen op
nav.nav.down
  img(src="/img/arrow_down.png" ng-click="navigate('down')").arrow-down
